<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8">

    <title>Pozvánka na výstavu modelového kolejiště</title>
</head>

<body>

<div style=" width: 640px; background-color: #f2fcfe;FONT-SIZE: 14px;FONT-FAMILY: Calibri, verdana, tahoma, arial;">
<table style="width: 640px; border-collapse: collapse;">
<tbody><tr>
<td style="text-align: center; 	background-color: #C6E0F9;
				height: 80px;
				padding: 12px 0 0 0;">
<table style="width: 640px; border-collapse: collapse; margin: 0;">
<tbody><tr>
<td style="text-align: center;">
<center>
<h3>KLUB ŽELEZNIČNÍCH MODELÁŘŮ PLZEŇ</h3>
<h5>oficiální člen Svazu modelářů České republiky</h5>
</center>
</td>
</tr>
</tbody></table>
</td>
</tr>

</tbody></table>

<br>
<table style=" width: 630px; margin:0 auto;border-collapse: collapse;">

<tbody><tr><td style="text-align: justify">

<b>Vážená paní ředitelko,</b><br>
<br>
jménem klubu železničních modelářů Plzeň si Vás dovoluji pozvat na každoroční podzimní výstavu velkého klubového kolejiště.
<br>
<br>
Tak, jako každý rok, i letos nabízíme pro školky a školy možnost hromadné návštěvy v dopoledních hodinách. Výstava bude probíhat <b>od 12. listopadu do 4. prosince</b>.
<br>
<br>
Návštěvu je možné objednat na tel. čísle: <b>739 45 45 45</b>, kde můžete také požádat o více informací. 
<br>
<br>
Budeme rádi, pokud naší nabídku využijete a navštívíte nás i s vašimi žáčky. 
<br>
<br>
<b>S pozdravem a přáním hezkého dne</b>
<br><br>

za KŽM Plzeň<br>
Ondřej Stolz<br>
<a href="www.kzmplzen.eu" target="_blank">www.kzmplzen.eu</a><br><br>

</td>

</tr></tbody></table>

<table style="border-collapse: collapse;width: 100%;">

<tbody><tr>
<td style="

				background-color: #c5dff8;
				color: #3a565d;
				padding: 8px;
				font-size: 80%;
				border-collapse: collapse" colspan="2">
Klub železničních modelářů Plzeň<br>
Karla Steinera 10A<br>
Plzeň - Skvrňany
</td>
</tr>

</tbody></table>
</div>

</body>
</html>
