{block content}
<div class="container">
    <div class="loginForm">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 n:block=title>Registrace</h4>
            </div>
            <div class="panel-body">


                {control registerForm}
            </div>

        </div>
    </div>
</div>

{/block}

{block script}
<script src='https://www.google.com/recaptcha/api.js'></script>
{/block}
