{block content}
<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 n:block=title>Kompletní přehled</h4>
        </div>

        <div class="panel-body">
            <div class="col-md-3">
                {control searchListGrid}
            </div>
        </div>
    </div>
    {/block}

    {block stript}
    {/block}
