{* This is the welcome page, you can delete it *}

{block title}
Domů
{/block}


{block content}
<div class="container">
 
    <div class="panel panel-default">
        <div class="panel-body">
       

    <div class="row">
        
        
        <p>Hovno</p>
        <p>{$datum}
        
    </div>
        </div>
</div>
</div>
{/block}
