{block content}
<div class="container">
    {form passwordResetRequestForm}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 n:block=title>Zapomenuté heslo</h4>
            </div>
            <div class="panel-body">
                <p>Zadejte e-mail, který patří k vašemu účtu. Následně vám přijde odkaz na změnu hesla</p>

                <ul class="errors" n:if="$form->hasErrors()">
                    <li n:foreach="$form->errors as $error">{$error}</li>
                </ul>
                <fieldset>
                    <dl>
                        <dt>E-mail</dt><dd>{input email}</dd>
                    </dl>

                    <button n:name=odeslat type="submit" class="btn btn-success btn-xs" {if $user->isInRole(1)}disabled{/if}><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Resetovat heslo</button>
                    <a href ="{plink Sign:in}"><button type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Zpět</button></a>
                </fieldset>
            </div>

        </div>
    {/form}
</div>
