{block content}
<div class="container">
    {form passwordResetEmailForm}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 n:block=title>Obnova hesla</h4>
            </div>
            <div class="panel-body">
                <ul class="errors" n:if="$form->hasErrors()">
                    <li n:foreach="$form->errors as $error">{$error}</li>
                </ul>

                <fieldset>
                    <dl>
                        <dt>E-mail účtu</dt><dd>{$email}</dd>
                        <dt>Nové heslo</dt><dd>{input heslo}</dd>
                        <dt>Nové heslo znova</dt><dd>{input heslo2}</dd>
                    </dl>

                    <input type="hidden" n:name="email" value="{$email}">
                    <button n:name=odeslat type="submit" class="btn btn-success btn-xs" {if $user->isInRole(1)}disabled{/if}><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Změnit heslo</button>
                    <a href ="{plink Sign:in}"><button type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Zpět</button></a>
                </fieldset>
            </div>
        </div>
    {/form}
</div>
{/block}
